<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishell.mapper.History_IdentifyMapper">

    <delete id="DeleteAllHistoryIdentify">
        DELETE FROM `history` WHERE `userId`=#{userId};
    </delete>
</mapper>